# ROS 2
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# VS Code
.vscode/

# JetBrains
.idea/

# Linux
*.swp
*~

# Environment
.env
.venv/

# Models
*.pt

# Logs
*.log
